.ContentBox {
    
    color: var(--very-dark-blue);
    text-align: left;
    
    
    padding-top: 30px;

    h3 {
        font-size: 22px;
        font-weight: 600;
    }

    p {
        line-height: 1.6;
        color: var(--very-dark-grayish-blue);
    }

    @media screen and (max-width: 475px) {
        & {
            text-align: center;
            padding: 0;

            h3 {
                padding: 0 80px;
                line-height: 1.2;
            }

            p {
                padding: 0 20px;
                font-size: 18px;
            }
        }
        
    }

}